<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/signUp.css">
    <style>
        .login-form {
            position: relative;
            
        }
        .signUp{
            color: rgb(78, 140, 16);
        }

        .signUp-msg {
          
            color:rgb(10, 7, 4);
            position: relative;
            
            top: 0%;
            left: 40.5%;
            margin-top: 10px;
        }  </style>

    <title><%=title%></title>
</head>
<body>
    <%- include('includes/nav.ejs') %>
<%if (errorMsg){%>
    <div><%=errorMsg%></div>
    <%}%>
    <form action="/login" method="post" class="login-form">
        <label for="email">E-mail</label>
        <input type="email" id="email" name="email">
        <br>

        <label for="password">Password</label>
        <input type="password" id="password" name="password">
        <input type="hidden" value="<%=csrfToken%>" name="_csrf">

        <input type="submit" value="Login">
    </form>
    <p class="signUp-msg">Don't have an account? <a href="/signUp" class="signUp">SIGN-UP</a></p>
    
<p class="signUp-msg"><a href="/reset"> reset your password</a></p>

</body>
</html>
