body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.login-form, .signUp-form {
  width: 300px;
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form label {
  color:black;
  display: block;
  margin-bottom: 5px;
}

form input[type="text"],
form input[type="email"],
form input[type="password"]
 {
  
  background-color: #2d2c2c;
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form input[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form input[type="submit"]:hover {
  background-color: #45a049;
}
.errorMsg{
  background-color: rgb(172, 172, 172);
  color: rgb(208, 40, 40);
  justify-content: center;
  position: relative;
  left: 43%;
  top: 10px;
display: inline-block;
padding: 10px;
border-radius: 10px;
}
